@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500&display=swap');
/* CSS Document */
/* color */
.text-red-live {
  color: #FF424F;
}
.text-red-med {
  color: #FF4040;
}
.text-dark-red {
  color: #BC1919;
}
.text-orange-live {
  color: #F2994A;
}
.text-blue-live {
  color: #2F80ED;
}
.text-gray-live {
  color: #4F4F4F;
}
.text-green-check {
  color: #27AE60;
}
.text-gray-notcheck {
  color: #828282;
}
.bg-gray-dark {
  color: #232C41;
}
/* background */
.bg-blue-live {
  background-color: #2F80ED;
}
.bg-red-live {
  background-color: #FF424F;
}
.bg-gray-live {
  background-color: #232C41;
}
.bg-gray-light-live {
  background-color: #4F4F4F;
}
.bg-green-live {
  background: #27AE60;
}
.bg-yellow-live {
  background: #F2C94C;
}
.bg-green-light-live {
  background: #6FCF97;
}
.bg-purple-live {
  background: #9B51E0;
}
.bg-player-gray-light {
  background: #E9E9E9;;
}
.bg-player-gray-dark {
  background: #828282;
}
/* border */
.border {
  border: 1px solid #828282;
}
.border-b {
  border-bottom: 1px solid #CCD2E3;
}
.border-red-main {
  border-color: #FF4040;
}
* {
  font-family: 'Noto Sans TC', sans-serif;
  font-style: normal;
}

/* header */
.wrap {
  position: relative;
  width: 100%;
}
.wrap .nav-bar {
  background: #222B31;
  z-index: 99;
}
.wrap .nav-bar #top-menu{
  box-shadow: 0px 4px 15px 0px #0000004D;
}
.wrap .nav-bar #top-menu .top-menu-right {
  color: white;
  flex:1 1 auto;
  height: 80px;
}
.wrap .nav-bar #top-menu .top-menu-right .user-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.wrap .nav-bar #top-menu .top-menu-right .notice {
  display: block;
  position: relative;
}
.wrap .nav-bar #top-menu .top-menu-right .notice-counter {
  position: absolute;
  top: 2px;
  right: -8px;
  min-width: 8px;
  height: 20px;
  line-height: 20px;
  margin-top: -11px;
  padding: 0 6px;
  font-weight: normal;
  color: white;
  text-align: center;
  background: #E50818;
  border-radius: 11px;
  font-size: 11px;
}

.wrap .nav-bar .navbar-brand-m {
  display: block;
  width: 100%;
  background: #E50818;
}
.wrap .nav-bar .navbar-brand {
  width: 340px;
  background: #E50818;
  display: block;
}
.wrap .nav-bar .navbar-form {
  margin-top: 25px;
}
.wrap .nav-bar .nav .dropdown span.fa, .wrap .nav-bar .nav .dropdown span.caret {
  margin-right: 10px;
}
.wrap .nav-bar .nav .dropdown-menu {
  background: #222;
  left: auto;
  width: 200px;
  right: 0;
}
.wrap .nav-bar .nav .dropdown-menu > li > a {
  color: #ddd;
  padding: 8px;
}
.wrap .nav-bar .nav .dropdown-menu > li > a:hover {
  background: #35f;
}
/* breadcrumb */
.breadcrumb-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}
.breadcrumb-list li {
  letter-spacing: 0.125rem;
}
.breadcrumb-list li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  display: inline-block;
  padding: 0 0.2rem;
  color: #ffffff;
}
.wrap #side-menu {
  background: #191C1F;
  width: 340px;
  min-height: 800px;
  min-width: 340px;
}
.wrap #side-menu .aside-magzine-inner {
  border-bottom: 1px solid #272D32;
}
.wrap ul.accordion {
  width: 100%;
  background: transparent;
}
.wrap ul.nav-serial-number {
  border-top: 1px solid #272D32;
}
.wrap ul.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 42px;
  font-size: 16px;
  color: white;
  font-weight: 700;
  position: relative;
}
.wrap ul.accordion .link:hover {
  background: #222B31;
  color: #FF424F;
}
.wrap ul.accordion .social {
  cursor: pointer;
  display: block;
  padding: 15px 15px 10px 0px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  position: relative;
}
.wrap ul.accordion .social-iocns {
  padding: 5px 0px 10px 0px;
  color: #ffffff;
  font-size: 12px;
}
.wrap ul.accordion .social-iocns i {
  color: #ffffff;
  font-size: 16px;
}
.wrap ul.accordion li:not(open) last-child .link {
  border-bottom: 0;
}
.wrap ul.accordion li .fa-lg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  font-size: 18px;
  color: #999;
  height: 17px;
  width: 24px;
}

.wrap ul.accordion li.open .link {
  background: #222B31;
  color: #FF424F;
}
.wrap ul.accordion ul.submenu {
  display: none;
  background: transparent;
  font-size: 14px;
  padding: 0;
}
.wrap ul.accordion ul.submenu li {
  list-style: none;
}
.wrap ul.accordion ul.submenu li:last-child {
  border-bottom: 1px solid #272D32;
}
.wrap ul.accordion ul.submenu li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 12px;
  padding-left: 42px;
}
.wrap ul.accordion ul.submenu li a:hover {
  background: #222B31;
  color: #FF424F;
}
@media screen and (max-width: 768px) {
  .wrap .nav-bar .navbar-brand {
    margin-top: 0;
    padding-left: 0;
    display: none;
  }
  .wrap .side-menu-link {
    display: inline-block;
  }
  .wrap #side-menu {
    width: 100%;
  }
  .wrap #side-menu #qform {
    position: absolute;
    top: 10px;
  }
  .active #bgrOne {
    top: 10px !important;
    transform: rotate(225deg);
  }
  .active #bgrTwo {
    opacity: 0 !important;
  }
  .active #bgrThree {
    top: 10px !important;
    transform: rotate(315deg);
  }
}
@media screen and (min-width: 769px) {
  .side-menu-link {
    display: none;
  }
  .wrap {
    position: relative;
  }
  .wrap .nav-bar .navbar-brand-m {
    display: none !important;
  }
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}

.input-container .icon {
  padding: 10px;
  padding-left: 15px;
  background: rgb(255, 255, 255);
  color: rgb(124, 123, 123);
  min-width: 40px;
  text-align: center;
  margin-bottom: 0;
  z-index: 2;
}
.input-container .icon-white {
  color: white;
}

.input-container .input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-container .input-btn {
  width: 100%;
  height: 50px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.input-container .input-btn:hover {
  opacity: 1;
}
.block {
  display: block !important;
}
#bottom-content {
  background: #222B31;
  padding-top: 80px;
  min-height: 100vh;
}
@media screen and (max-width: 768px) {
  #bottom-content {
    padding-top: 139px;
  }
}
/* side menu */
.more-hint:hover {
  display: flex !important;
}
.tooltip {
  top: -4em;
  left: -.2em;
}
.tooltip--content {
  background-color: #C4C5C5;
  border-radius: 5px;
  color: #333333;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
}
.tooltip--content:after {
  position: absolute;
  bottom: -1em;
  left: 8px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16px 9px 0 9px;
  border-color: #C4C5C5 transparent transparent transparent;
}
.more-hint:focus .tooltip,
.more-hint:active .tooltip {
    visibility: visible;
    opacity: 1;
    display: flex !important;
}
/* content */

/* 1-1 index */
.wrap .content {
  flex: 1 1 auto !important;
  background-color: #222B31;
  /* z-index: -1; */
}
.wrap .content .items #mycloset .item-inner {
  background: linear-gradient(208.27deg, #7B29FF 0%, #4518DB 95.3%);
}
.wrap .content .items #code .item-inner {
  background: linear-gradient(208.27deg, #FF806C 0%, #FF5C00 95.3%);
}
.wrap .content .items #qa .item-inner {
  background: linear-gradient(218.57deg, #5CE2FF 0%, #0038FF 93.91%);
}
.wrap .content .items #intro .item-inner {
  background: linear-gradient(208.27deg, #A7FFE5 0%, #00CFC3 95.3%);
}
.wrap .content .items #news .item-inner {
  background: linear-gradient(259.61deg, #FF6EAA 3.65%, #FD5356 100%);
}
/* 1.1 登入 */
.login-main {
  max-width: 1206px;
}
.login-main .login-right {
  background: #F2F2F2;
}
.bind-btn {
  width: 100%;
  max-width: 300px;
  height: 45px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  border-radius: 22.5px;
}
.login-main .login-btn {
  width: 100%;
  max-width: 140px;
  height: 45px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  border-radius: 22.5px;
  box-shadow: 0px 4px 4px 0px #0000004D;

}
.login-btn-register {
  background: #2D9CDB;
}
.buy-serial-btn {
  background: #27AE60;
}
.login-main .login-btn:hover {
  opacity: 1;
}
.login-main .login-right .toggle-password {
  font-weight: 400;
  color: #828282;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}
button:focus {
  outline: 0 !important;
}
/* 1-2 我的書櫃 */
.select-pointer svg {
  fill: white;
}
select option {
  margin: 40px;
  background: rgba(255, 255, 255, 0.3);
  color: rgb(0, 0, 0);
}
.mylibrary-content {
  height: 710px;
  max-height: 710px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.mylibrary-content .mylibrary-item .mylibrary-item-title {
  height: 56px;
  max-width: 210px;
  width: 100%;
}
.mylibrary-content .mylibrary-item img {
  box-shadow: 15px 15px 5px 0px #00000040;
}
@media (min-width: 1440px) {
  .mylibrary-content .mylibrary-item {
    width: 16.66%;
  }
}
.mylibrary-content::-webkit-scrollbar {
  width: 15px;
}
.mylibrary-content::-webkit-scrollbar-track {
  background-color: #CCD2E3;
}

.mylibrary-content::-webkit-scrollbar-thumb {
  background: #191C1F;

}

.mylibrary-content::-webkit-scrollbar-button {
  background-color: #CCD2E3;
}
.mylibrary-content::-webkit-scrollbar-corner {
  background: #191C1F;
}
.menu-bars .list a {
  background: #EB5757;

}
.menu-bars .plan a {
  background: #F2994A;

}
.menu-bars .book a {
  background: #27AE60;

}
.menu-bars .test a {
  background: #2F80ED;

}
.menu-bars .news a {
  background: #BB6BD9;
}
.menu-bars a span {
  text-shadow: 0.1em 0.1em 0.2em rgb(53, 52, 52);
}
.menu-bars a img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
/* 1.2.1雜誌內容 */
  .magzine-content-top .toMyLiraryBtn {
    border: 2px solid black;
  }
  .magzine-content-table {
    border-top: 1px solid black;
    color: #232C41;
  }
  .magzine-content-table tr {
    border-bottom: 1px solid black;
  }
  .magzine-content-table tbody tr:hover {
    background: #E5E5E5;
    background-blend-mode: darken;
  }
	@media only screen and (max-width: 1024px)  {
		table, thead, tbody, th, td, tr {
			display: block;
		}
		.magzine-content-table thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
    .magzine-content-table tr {
      margin: 0 0 1rem 0;
      background: rgb(255, 255, 255);
    }

		.magzine-content-table td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		.magzine-content-table td:before {
			position: absolute;
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
      text-align: left;
      line-height: 2em;
		}
		.magzine-content-table td:nth-of-type(1):before { content: "單元"; }
		.magzine-content-table td:nth-of-type(2):before { content: "主題"; }
		.magzine-content-table td:nth-of-type(3):before { content: "難易度"; }
		.magzine-content-table td:nth-of-type(4):before { content: "收藏"; }
	}

/* 1.2.1-2學習計畫模式 */
#calendar ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#calendar li {
	display: block;
	width:14.342%;
	padding: 5px;
	box-sizing:border-box;
	border: 1px solid #ccc;
	margin-right: -1px;
	margin-bottom: -1px;
}

#calendar ul.weekdays {
	height: 40px;
}

#calendar ul.weekdays li {
	text-align: right;
	text-transform: uppercase;
	line-height: 20px;
	border: none !important;
	padding: 10px 6px;
	color: #fff;
	font-size: 14px;
  font-weight: 700;
  background: linear-gradient(208.27deg, #FF806C 0%, #FF5C00 95.3%);
}

#calendar .days li {
  min-height: 9em;
  background: white;
}

#calendar .days li:hover {
	background: #fafafa;
}

#calendar .date {
	text-align: right;
	margin-bottom: 5px;
}

@media(max-width: 1024px) {

	#calendar .weekdays, #calendar .other-month {
		display: none;
	}

	#calendar li {
		height: auto !important;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}
}
/* 1.2.1-2電子書模式 */
#ebook .pointer-left {
  width: 10%;
  background-color:rgba(0, 0, 0, 0);
}
#ebook .pointer-right {
  width: 10%;
  background-color:rgba(0, 0, 0, 0);
}
#ebook .pointer-left img {
    width: 2em;
  }
  #ebook .pointer-right img {
    width: 2em;
  }
@media (max-width: 1280px) {
  #ebook .pointer-left img {
    width: 1.5em;
  }
  #ebook .pointer-right img {
    width: 1.5em;
  }
}
#ebook .ebook-page-content {
  height: calc(100vh - 82.23px);
}
#ebook .ebook-page-content::-webkit-scrollbar {
  width: 8px;
}

#ebook .ebook-page-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#ebook .ebook-page-content::-webkit-scrollbar-thumb {
  background: #888;
}

#ebook .ebook-page-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#ebook .ebook-page-content .ebook-page-content-page img {
  box-shadow: 8px 8px 5px 0px #C4C4C4;
  width: 100%;
}
#ebook #ebook-play-btn {
  background: #4F4F4F;
}
#ebook #ebook-play-btn .func-btn-img {
  width: 28px;
  height: 21px;
}
#ebook .progess-bar {
  max-width: 600px;
  width: 100%;
}
#ebook .progess-bar-bg {
  background: #828282;
}
@media (max-width: 1280px) {
  #ebook .progess-bar {
    max-width: 300px;
  }
}
#ebook #myEbook:-webkit-full-screen {
  width: 100%;
  height: 100%;
}
#ebook #myEbook #ebook-content #ebook-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#ebook #myEbook #ebook-content #ebook-container.full-screen {
  top: 0;
  transform: translateY(0);
}
/* 1.2.1-2電子書模式(全螢幕) */
.hint:before, .hint:after {
  position: absolute;
  opacity: 0;
  z-index: 1000000;
  pointer-events: none;
}

.hint:hover:before, .hint:hover:after {
  opacity: 1;
}

.hint:before {
  content: '';
  position: absolute;
  background: transparent;
  border: 6px solid transparent;
  position: absolute;
}

.hint:after {
  content: attr(data-hint);
  background: #232C41;
  color: white;
  padding: 6px 8px;
  font-size: 8px;
  white-space: nowrap;
  border-radius: 2px;
}


.hint--top:before {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 0 -18px 0;
  border-top-color: #232C41;
}

.hint--top:after {
  bottom: 100%;
  left: 10%;
  margin: 0 0 -6px -10px;
}

.hint--top:hover:before {
  margin-bottom: -10px;
}

.hint--top:hover:after {
  margin-bottom: 2px;
}
/* 1.2.1-2-e電子書模式-開啟中文翻譯 */
.ebook-cc {
  line-height: 30px;
  flex: 1 2 auto;
}
/* 1.2.1 5-a 影片模式 */
.video-mode-play-bar {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0) 328%);
}
.video-mode-play-bar .player-video {
  position: relative;
}
.video-mode-play-bar .player-video::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #FF4040;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  z-index: 10;
}
.video-mode-play-bar-btns .btn.on .notActive{
  display: none !important;
}
.video-mode-play-bar-btns .btn.on .onActive{
  display: block;
}

/* 1.2.1 5-b 文字模式 */
.word-btn {
  height: 36px;
  width: 80px;
  border-radius: 20px;
}
.word-btn-del {
  background: #333333;
}
.wrap #side-menu-right {
  background: #191C1F;
  width: 285px;
  min-height: 800px;
  min-width: 285px;
}
@media screen and (max-width: 768px) {
  .wrap #side-menu-right {
    width: 100%;
  }
}
.wrap ul.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 56px;
  font-size: 16px;
  color: white;
  font-weight: 700;
  position: relative;
}
.wrap ul.accordion li .side-link {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 24px;
  font-size: 18px;
  color: #999;
  height: 17px;
  width: 24px;
}
.player-word {
  position: relative;
}
.player-word::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #C4C4C4;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  z-index: 10;
}
.word-player-btn {
  height: 30px;
  width: 50px;
  border-radius: 3px;
  border: 2px solid #828282;
  color: #828282;
}
.word-player-btn.active {
  border: 2px solid #FF0000;
  background-color: #FF0000;
  color: white;
}
/* 1.2.3 測驗 */
.little-quiz {
  background: linear-gradient(218.57deg, #5CE2FF 0%, #0038FF 93.91%);
}
.listening-test {
  background: linear-gradient(208.27deg, #A7FFE5 0%, #00CFC3 95.3%);
}
.mock-test {
  background: linear-gradient(259.61deg, #FF6EAA 3.65%, #FD5356 100%);
}
@media screen and (min-width: 1440px) {
  .quiz-title {
    font-size: 40px !important;
  }
}
/* 1.2.1-3-a測驗(周與題型) */
#quiz-content {
  min-height: 750px;
}
.select-quiz {
  border-color: #4F4F4F;
}
.select-pointer-quiz svg {
  fill: #4F4F4F;
}
.quiz-content-table {
  border-top: 1px solid black;
  color: #232C41;
}
.quiz-content-table thead tr {
  background: #333333;
}
.quiz-content-table tbody tr {
  border-bottom: 1px solid #CCD2E3;
}
.quiz-content-table tbody tr:hover {
  background: #E5E5E5;
  background-blend-mode: darken;
}
.quiz-content-table tbody tr.on .btn-startQuiz-off {
  display: none;
}
.quiz-content-table tbody tr.on .icon-check-off {
  display: none;
}
.quiz-content-table tbody tr.off .btn-startQuiz-on {
  display: none;
}
.quiz-content-table tbody tr.off .icon-check-on {
  display: none;
}
.quiz-content-table tbody tr.off td {
  background: #E5E5E5;
}
@media screen and (max-width: 1024px)  {
  table, thead, tbody, th, td, tr {
    display: block;
  }
  .quiz-content-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .quiz-content-table tr {
    margin: 0 0 1rem 0;
    background: rgb(255, 255, 255);
  }

  .quiz-content-table td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  .quiz-content-table td:before {
    position: absolute;
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    line-height: 2em;
  }
  .quiz-content-table td:nth-of-type(1):before { content: "項目"; }
  .quiz-content-table td:nth-of-type(2):before { content: "答題記錄"; }
}
/* 1.2.1 3-a測驗內容 */
.leading-large {
  line-height: 2em;
  font-size: 20px;
}
@media screen and (min-width: 1440px)  {
  .leading-large {
    line-height: 3em;
    font-size: 24px;
  }
}
.quiz-img-container {
  max-width: 948px;
}
.answer {
  border-bottom: 1px solid #333333;
}
.player-quiz::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #FF4040;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  z-index: 10;
}
/* 1.2.1 5-e課程講解 */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* 1.3我的單字 */
.my-word-table {
  /* border-top: 1px solid black; */
  color: #232C41;
}
.my-word-table tr {
  border-bottom: 1px solid #CCD2E3
}
.my-word-table tbody tr:hover {
  background: #E5E5E5;
  background-blend-mode: darken;
}
@media only screen and (max-width: 1024px)  {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  .my-word-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .my-word-table tr {
    margin: 0 0 1rem 0;
    background: rgb(255, 255, 255);
  }

  .my-word-table td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  .my-word-table td:before {
    position: absolute;
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    line-height: 2em;
  }
  .my-word-table td:nth-of-type(1):before { content: "單元"; }
  .my-word-table td:nth-of-type(2):before { content: "主題"; }
  .my-word-table td:nth-of-type(3):before { content: "難易度"; }
  .my-word-table td:nth-of-type(4):before { content: "收藏"; }
}
/* 1.4序號兌換 */
.Serial-number-main {
  max-width: 1206px;
}
.Serial-number-main .Serial-number-right {
  background: #F2F2F2;
}
.Serial-number-main .Serial-number-right .input-container {
  max-width: 300px;
}
.Serial-number-main .login-btn {
  width: 100%;
  max-width: 140px;
  height: 45px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  border-radius: 22.5px;
  box-shadow: 0px 4px 4px 0px #0000004D;
}
.login-btn-login {
  background: #FF4040;
}
.login-btn-register {
  background: #2D9CDB;
}
.Serial-number-main .login-btn:hover {
  opacity: 1;
}
.Serial-number-main .Serial-number-right .toggle-password {
  font-weight: 400;
  color: #828282;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}
button:focus {
  outline: 0 !important;
}